# =====================================
# DATA PROCESSING
# =====================================

pandas>=2.2.0
numpy>=2.0.0

# =====================================
# HTTP REQUEST
# =====================================

requests>=2.32.0

# =====================================
# ENVIRONMENT VARIABLE
# =====================================

python-dotenv>=1.0.1

# =====================================
# DATA LAKE
# =====================================

minio>=7.2.7

# =====================================
# STREAMING
# =====================================

kafka-python>=2.0.2

# =====================================
# DATABASE
# =====================================

psycopg[binary]>=3.2.0

# =====================================
# EXCEL / CSV
# =====================================

openpyxl>=3.1.5

# =====================================
# UTILITIES
# =====================================

python-dateutil>=2.9.0
tqdm>=4.67.0